<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ElderlyCareApplication"
        tools:targetApi="31">
        <activity
            android:name=".reminder_scheduling.AddMedReminderActivity"
            android:exported="false" />
        <activity
            android:name=".connection_module.ListConnectedElderActivity"
            android:exported="false" />
        <activity
            android:name=".connection_module.AddElderActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.caretakers.CaretakerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.elder.ElderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.home.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.elder.ElderDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.home.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.elder.SignUpEldersActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.caretakers.SignUpCaretakersActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.elder.SignInEldersActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.caretakers.SignInCareTakersActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.home.EntryActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>